<h2>管理者画面へようこそ！</h2>
<p>ユーザーの一覧、投稿の一覧を閲覧・編集できます。</p>
<p>しっかりとサイトの管理、保守、運営を行いましょう。</p>
<p>治安の良いサイトを心がけましょう。</p>

<%= link_to '会員一覧', admin_side_users_path %>はこちら</br>
<%= link_to '投稿一覧', admin_side_posts_path %>はこちら
