<footer class="custom-footer" >
  <div class="container-fluid mt-5">
    <div class="row d-flex justify-content-center">
    <%= stylesheet_link_tag 'application', media: 'all' %>
      <div>
        <%= link_to '© Goal Fit', root_path, class: 'text-dark' %>
      </div>
    </div>
  </div>
</footer>
