<footer class="bg-secondary">
  <div class="container-fluid mt-5">
    <div class="row d-flex justify-content-center">
      <div>
        <%= link_to '© Goal Fit', root_path, class: 'text-white' %>
      </div>
    </div>
  </div>
</footer>
