<footer class="custom-footer" style="background-color: #99ccff;">
  <div class="container-fluid mt-5">
    <div class="row d-flex justify-content-center">
      <div>
        <%= link_to '© Goal Fit', root_path, class: 'text-dark' %>
      </div>
    </div>
  </div>
</footer>
